# 网站图标
favicon = "img/jryslogo.jpg"

[footer]
    # 删掉 since 这一行，年份就不会显示了
    customText = "燕山旧时光"

[sidebar]
    emoji = ""
    subtitle = "回望过去，憧憬未来......"
    avatar = "img/cat1.jpg" 

[article]
    readingTime = false
    [article.license]
        enabled = false  # 关闭文章底部的英文授权

[colorScheme]
    toggle = false      # 彻底关掉切换按钮
    default = "auto"

[widgets]
    homepage = [
        { type = "search" },
        { type = "archives", params = { limit = 5 } }
    ]
    page = [{ type = "toc" }]

[comments]
    enabled  = false
    provider = "giscus"

    [comments.giscus]
        repo = "jinriyanshan/ystoday"
        repoId = "R_kgDORIoO7g"
        category = "General"
        categoryId = "DIC_kwDORIoO7s4C1-Yt"
        mapping = "pathname"
        strict = "0"
        reactionsEnabled = "1"
        emitMetadata = "0"
        inputPosition = "bottom"
        theme = "preferred_color_scheme"
        lang = "zh-CN"
