# 网站图标（暂时留空或指向你的logo）
favicon = "img/jryslogo.jpg"

[footer]
    since = 2024
    customText = "今日燕山 - 燕山人的精神家园"

[sidebar]
    emoji = ""
    subtitle = "致力于燕房地区的咨询沟通，深度挖掘燕山独特的历史文化，以燕山的视角看世界，以世界的眼光看燕山！"
    avatar = "img/jryslogo.jpg" 

[article]
    readingTime = false
    [article.license]
        enabled = false

[colorScheme]
    toggle = false
    default = "auto"

[widgets]
    homepage = [
        { type = "search" },
        { type = "archives", params = { limit = 5 } }
    ]
    page = [{ type = "toc" }]
